#footer {
  p {
    color: #fff;
    line-height: 1.2rem;
    font-family: $robotoCondensed;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
  }

  @include footer-background($vn-footer: true);

  #en & {
    @include footer-background($vn-footer: false);
  }
}

.box-footer {
  .logo {
    width: 10rem;
    position: absolute;
    margin-top: 1rem;

    img {
      margin-top: -1.5rem;
    }
  }

  .text {
    min-height: 6rem;
    padding-left: 11.5rem;
  }
}

.box-coppyright {
  .copyright {
    color: #bdcaff;
    font: normal 1.3rem $robotoCondensed;
    padding: 1.6rem;
  }
}

@media screen and (max-width: 992px) {
  #footer {
    background-color: $primary !important;
    background-image: none !important;

    .box-footer {
      padding: 1.5rem !important;
    }
  }
}


// background: url(/static/_SV/img/bg-footer.png) bottom left no-repeat;
// background-size: 100% 100%;
// background-color: #eff8ff;
// width: 100%;
